<div class="header">
  <h2 appAppearOnScroll>{{this.titulo}}</h2>
  <h4><a href="{{this.titulo.toLowerCase()}}">Ver todos</a></h4>
</div>
<swiper-container appAppearRightOnScroll class="mySwiper" pagination="false" space-between="7" [slidesPerView]="7"
[breakpoints]="breakpoints">
  <swiper-slide *ngFor="let midia of this.midias; let i = index">
    <div (click)="this.showDetails(midia)" class="swiper-slide-content">
      <i (click)="this.setFavorite(midia, i)" *ngIf="midia.favorite" class="fa-solid fa-heart"></i>
      <img [src]="'https://image.tmdb.org/t/p/w500' + midia.posterPath" alt="{{ midia.titulo }}">
    </div>
    <div class="actions">
      <h4>{{midia.titulo}}</h4>
      <div class="genres">
        <ul>
          <li *ngFor="let genero of midia.generos">{{genero}}</li>
        </ul>
      </div>
      <hr>
      <div class="btn-actions">
        <button (click)="this.setFavorite(midia, i)" class="add-to-list">
          <i *ngIf="!midia.favorite" class="fa-solid fa-plus"></i>
          <i *ngIf="midia.favorite" class="fa-solid fa-check"></i>
        </button>
        <button (click)="this.showDetails(midia)" class="more-details">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
  </swiper-slide>
</swiper-container>

<app-modal-details [midiaDetails]="this.midiaDetails" (modalClosed)="onModalClose($event)"></app-modal-details>
