<div class="swiper-container">
  <div class="header">
    <h2>Filmes</h2>
  </div>
  <div class="content d-flex flex-wrap justify-content-center">
    <div appAppearOnScroll class="card" *ngFor="let movies of this.movies; let i = index">
      <div (click)="this.showDetails(movies)" class="div-content">
        <i (click)="this.setFavorite(movies, i)" *ngIf="movies.favorite" class="fa-solid fa-heart"></i>
        <img [src]="'https://image.tmdb.org/t/p/w500' + movies.posterPath" alt="{{ movies.titulo }}">
      </div>
      <div class="actions">
        <h4>{{movies.titulo}}</h4>
        <hr>
        <div class="btn-actions">
          <button (click)="this.setFavorite(movies, i)" class="add-to-list">
            <i *ngIf="!movies.favorite" class="fa-solid fa-plus"></i>
            <i *ngIf="movies.favorite" class="fa-solid fa-check"></i>
          </button>
          <button (click)="this.showDetails(movies)" class="more-details">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.movies.length < 1" class="aviso">
  <h2>Ops !! </h2>
  <h1>Lista vazia ou não encontrada</h1>
</div>
<app-modal-details [midiaDetails]="this.midiaDetails" (modalClosed)="onModalClose($event)"></app-modal-details>
