*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


ul,
ol {
  list-style: none;
}


article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0;
}

