*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  background-color: #141414;
  ;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


ul,
ol {
  list-style: none;
}


article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0;
}

[appAppearOnScroll] {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.appear {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[appAppearRightOnScroll] {
  opacity: 0;
  transform: translateX(500px);
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.appearRight {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

/* styles swiper */
.swiper-container {
  width: 100%;
  padding: 20px;
  background: #141414;
  margin-top: 60px;

}

.mySwiper {
  margin-bottom: 40px;
}


h2 {
  color: #fff;
  font-size: 1.8em;
  margin-bottom: 20px;
  font-weight: bold;
}


swiper-container {
  width: 100%;
  height: 100%;

}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

swiper-slide:hover {
  .actions {
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
}

/* details  */
.actions {
  opacity: 0;
  color: white;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgb(0 0 0) 10%, #000000cf);
  width: 100%;
  transition: all 0.4s ease-in-out;
}

i {
  color: white;
}

.btn-actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  button{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  button:hover{
    background-color: rgba(255, 255, 255, 0.87);

    i{
      color: #141414f1;
    }
  }
}

.genres{
  ul{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
  }
  li{
    font-size: 12px;
    color: #a3a3a3;
  }
}

